.trace-repo .header {
    display: flex;
    flex-shrink: 1;
    align-items: baseline;
}

.trace-repo .trace-file-line {
    display: flex;
    align-items: baseline;
}

.trace-repo .trace-file {
    min-width: 350px;
}

.trace-repo .trace-file-size {
    width: 200px;
}

.trace-repo .speed-scope-tips {
    margin: 8px 0;
    font-size: .75rem;
}