.trace-session .header {
    display: flex;
    flex-shrink: 1;
    align-items: baseline;
}

.trace-session .bold-text {
    font-weight: bold;
}

.trace-session .session-container{
    display: flex;
    flex-shrink: 1;
    flex-flow: column;
}

.trace-session .session-line {
    display: inherit;
    align-items: baseline;
}

.trace-session .process-id-part {
    min-width: 250px;
}

.trace-session .session-id-part {
    min-width: 250px;
}