.monitor-page {
    display: flex;
    flex-flow: column;
    height: 100%;
    width:100%;
}

.monitor-page .header {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 24px;
}

.monitor-page .viz {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-flow: column;
    overflow-y: auto;
}