.processes .header {
    display: flex;
    align-items: baseline;
}

.processes .process-line {
    display: flex;
    flex-shrink: 1;
    align-items: baseline;
}

.processes .process-id {
    font-weight: bold;
    margin-right: 8px;
    min-width: 60px;
}

.processes .process-name {
    min-width: 280px;
}

.processes .process-path {
    min-width: 600px;
}