body {
    background: #1e1e1e;
}

.app-header {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    background-color: #005697;
    display: flex;
    align-items: center;
    padding: 0px;
    padding-left: 24px;
}

.app-header h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

.app-container {
    padding: 24px;
    margin: 0;
}

.dark-theme {
    color: white;
    background: #1e1e1e;
}

/* Connect to a backend */

.new-endpoint-container {
    margin: 12px 8px 12px 0;
}

label {
    margin: 0 12px 0 0;
}

.tips {
    font-style: italic;
    font-size: 0.8rem;
}

.dark-theme a {
    color: #48b0ff;
    text-decoration: none;
}

.dark-theme a:hover {
    color: #a9d3f2;
    text-decoration: underline;
}

.dark-theme a:active {
    color: #003157;
}

.dark-theme .text-input {
    background-color: transparent;
    border: inset 1px grey;
    padding: 4px;
    color: white;
}

.dark-theme .button {
    cursor: pointer;
    background: #005697;
    border: solid 1px #1F262A;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    margin: 4px 4px;
    color: white;
    min-width: 100px;
    min-height: 32px;
}

.dark-theme .button.header-button {
    margin-left: 24px;
    min-width: 48px;
}

.dark-theme .button:hover {
    background: #0078d4;
}

.dark-theme .button:active {
    border: solid 1px white;
}

.dark-theme select {
    color: white;
    background-color: #1e1e1e;
    min-height: 32px;
    padding: 4px;
}

.dark-theme option {
    min-height: 32px;
}
